<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/chat_box.css">
    <script src="https://kit.fontawesome.com/b16d3c3182.js" crossorigin="anonymous"></script>
    <title><%= title %></title>
  </head>
  <body class="home_body">
    <h1>Codeial : <%= desc %></h1>
    <div id="home-container">
        <section id="user-profile">
            <h2><a href="/users/myProfile">My Profile</a></h2>
            <div id="user">
                <%if (locals.user) {%>
                  <div id="user-name">
                    Name : &nbsp;<%= user.name %>
                  </div>
                  <div id="user-email">
                    Email : &nbsp;<%= user.email %>
                  </div>
                <% } %>
            </div>

        </section>
      <section id="post-feed">
        <h2>Posts</h2>
        <form id="new-post-form" action="/posts/create" method="post">
          <textarea
            name="content"
            id=""
            cols="30"
            rows="05"
            placeholder="Write here....."
          ></textarea>
          <button type="submit" value="post">Post</button>
        </form>

        <div id="posts-list-container">
          <ul>
            <% for(let post of posts){ %>
                 <%- include('_posts.ejs', {post:post}); %> 
            <% } %>
          </ul>
        </div>
        <!-- chat box for user to chat with their friends -->
        <!-- we will show chat box only if user is logged -->
        <% if(locals.user){%>
          <div class="chat-box-cont" id="user-chat-box-cont">
            <%- include('_chat_box.ejs'); %>
          </div>
        <% } %>
      </section>
      <section id="user-friends">
        <h4>Friends</h4>
        <% for (u of all_users){ %>
        <div class="user">
          <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
        </div>
        <% } %>
      </section>
    </div>
    <script src="/js/home_posts.js"></script>
    <script src="/js/likes_toggle.js"></script>
    <script>
      $('.toggle-like-button').each(function(){
        let self = $(this);
        let toggleLike = new ToggleLike(self);
      })
    </script>
    <script src="/js/chat_engine.js"></script>
    <script src="/js/chat_box.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <% if(locals.user){%>
      <script>
        new ChatEngine('user-chat-box-cont', '<%= locals.user.email %>', '<%= locals.user.name %>');
      </script>
    <% } %>
  </body>
</html>
