<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title><%= title %></title>
</head>
<body id="home_body">
    <h1>Codeial <%= desc %></h1>
    <section id="post-feed">
        <h2>Posts</h2>
        <% if(locals.user){ %>
            <form id="new-post-form" action="/posts/create" method="post">
                <textarea name="content" id="" cols="30" rows="05" placeholder="Write here....."></textarea>
                <button type="submit" value="post">Post</button>
            </form>
        <% } %>
        

        <div id="posts-list-container">
            <ul>
                <% for(let post of posts){ %>
                    <li>
                        <%= post.content %>
                        <br>
                        <small>
                            Posted By: &nbsp<%= post.user.name %>
                        </small>
                        <form action="/posts/destroy/<%= post.id %>" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </li>
                <% } %>
            </ul>
        </div>
    </section>
</body>
</html>