<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <img src="<%=user.avatar%>" alt="user.name" sizes="" srcset="" width="150">
    <h1>
        user profile page <br>
        <%= desc %> <br>
    </h1>
    <h3>
        Name:&nbsp;<%= profile_user.name %> <br>
        Email:&nbsp;<%= profile_user.email %> <br>
    </h3>
    <% if (profile_user.id == user.id) { %>
        <!-- if user mathches then show the form-->
        <form action="/users/update/<%= profile_user.id %>" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" placeholder="Profile Picture" id="">
            <input type="text" name="name" value="<%= profile_user.name %>">
            <input type="text" name="email" value="<%= profile_user.email %>">
            <input type="password" name="password" value="<%= profile_user.password %>">
            <input type="submit" value="Update">
        </form>
    <% }else{ %>
        <!-- if user does not match then show the follow button -->
        <a href="/users/follow/<%= profile_user.id %>">Follow</a>

    <%} %>
    <a href="/users/sign-out">Sign Out</a>

</body>
</html>