<div>
    <p>
        Hello <%= comment.user.name %>,<br>
    </p>
    <p>
        <!-- <%= comment.user.name %> has commented on your post <%= comment.post.title %>.<br> -->
        <%= comment.user.name %> has commented on your post .<br>
        <%= comment.body %>
    </p>
</div>